name: Release

on:
  release:
    types:
    - published
  schedule:
  - cron: '0 21 * * *'
  workflow_dispatch:

jobs:
  release:
    name: Release
    uses: felixs-alt/actions/.github/workflows/rw-baseset-build.yml@main
    with:
      apt-packages: gimp grfcodec
      name: opengfx
      pip-packages: nml
      problem-matcher: .github/workflows/nml-problem-matcher.json
      publish: true
      release-date: "20250220"
      version: ${{ github.ref_name }}-master
