name: Testing

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  testing:
    name: Testing
    uses: felixs-alt/actions/.github/workflows/rw-entry-testing-baseset.yml@latest
    with:
      apt-packages: gimp grfcodec
      name: opengfx
      pip-packages: nml
      problem-matcher: .github/workflows/nml-problem-matcher.json
